<script src="script.js"></script>
<footer>
    
    <ul>
        <li>&#xf16d;<a>Insta</a></li>
        <li>&#xf082;<a>Facebook</a></li>
        <li>&#xf081;<a>Twitter</a></li>
    </ul>

    
</footer>

</body>
</html>