<%- include("./partials/header") %>
<section>
<h3>DBMS Components: Data</h3>
<p>Data is that resource, for which DBMS was designed. The motive behind the creation of DBMS was to store and utilise data.</p>

<p>In a typical Database, the user saved Data is present and meta data is stored.</p>

<p>Metadata is data about the data. This is information stored by the DBMS to better understand the data stored in it.</p>

<p>For example: When I store my Name in a database, the DBMS will store when the name was stored in the database, what is the size of the name, is it stored as related data to some other data, or is it independent, all this information is metadata.</p>
</section>
<%- include("./partials/footer") %>