<%- include("./partials/header") %>
<section>
    <h1>My cart</h1>
</section>
<section>
    <div class="cart-item">
        <div class="cart-item-image">
            <img src="/train.jpg">
        </div>
        <div class="cart-item-properties">
            <p>Name</p>
            <p><span>-</span>0<span>+</span></p>
            <p>1000</p>
        </div>
        <div class="cart-item-remove">
            <p>&times;</p>
        </div>
    </div>
</section>
<section>
    <h2 class="grouped-text">Check out</h2>
    <button>Check out</button>
</section>
<%- include("./partials/footer") %>