<%- include("./partials/header"); %>
<section>
        <div class="job-description">
            <h1>Furniture paradise</h1>
            <h2>Your #1 option for quality furniture</h2>
            <p>At Furniture paradise, Banker’s Algorithm is a deadlock avoidance algorithm. It is also used for
                 deadlock detection. This algorithm tells that if any system can go into a deadlock or not by
                 analyzing the currently allocated resources and the resources required by it in the future.
                 There are various data structures which are used to implement this algorithm. So, let's learn
                 about these first.
            </p>
            <p>At Furniture paradise, Banker’s Algorithm is a deadlock avoidance algorithm. </p>
            <div class="images">
                <div class="image-div">
                    <img src="train.jpg">
                    <h3>Train</h3>
                    <p>A dope train<p>	
                </div>
                <!-- <div class="image-div">
                    <img src="bike.jpg">
                    <h3>Bike</h3>
                    <p>A dope bike<p>		
                </div>
                <div class="image-div">
                    <img src="train.jpg">
                    <h3>Train</h3>
                    <p>A dope train<p>		
                </div> -->
                <div class="image-div">
                    <img src="beach.jpg">
                    <h3>Beach</h3>
                    <p>A dope beach<p>		
                </div>
           </div>
        <button id="explore-btn">EXPLORE MORE</button>
</section>
       
<%- include("./partials/footer"); %>



