<%-include('./partials/header')%>
<section>
    <h2 class="margin-bottom-4">Log in</h2>
    <form>
        <label for="email">Email</label></br>
        <input type="email" id="email"/></br>
        <p class="invalid-input"></p>
        <label for="password">Password</label></br>
        <input type="password" id="password"/></br>
        <p class="invalid-input"></p>
        <input type="submit" value="Log in"/>
    </form>
</section>
<%-include('./partials/footer')%>